# This is an extensive ignore file for more or less all Visual studio specific files.
# They should never be checked in when using CMake
#
 
#
# Windows and Mac OS X Temp Cache Files
#
[Tt]humbs.db
*.DS_Store
 
#
#Visual Studio files
#
*.[Oo]bj
*.user
*.aps
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.[Cc]ache
*.ilk
*.lib
*.log
*.sbr
*.sdf
*.sln
*.vcproj
*.vcxproj
*.vcxproj.filters
ipch/
obj/
[Bb]in
[Dd]ebug/
[Rr]elease*/

#
# Exclude user-specific XCode 3 and 4 files
#
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

#
## Exclude temp nibs and swap files
##
*~.nib
*.swp
 
#
#Tooling
#
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*
 
#
#Project files
#
[Bb]uild/
 
#
#Subversion files
#
.svn
 
#
#Eclipse files
#
.project

#
# Microsoft Office Temp Files
#
~$*
 
# End of File
